{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
<h3>Olá {{ user.username }}!</h3>
<h1>Your schedules</h1>

        {% if schedules %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>

            {% for scheduling in schedules %}
        <tr>
            <td>{{scheduling.name}}</td>
            <td>{{scheduling.scheduling_date}}</td>
            <td>{{scheduling.scheduling_done}}</td>
        </tr>

            {% endfor %}
    </tbody>
</table>

        {% else %}
<p>No appointments found, you can create <a href="{% url 'pages:new_scheduling' %}">clicking here</a></p>

        {% endif %}

    {% else %}
        Cadastre-se ou faça login.

    {% endif %}
{% endblock %}